<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {{ render(controller('SensioTrainingBundle:Default:counter')) }}
        <div id="header">
            {{ include('::menu.html.twig', { 'menu_id': 'menu_top' }) }}
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <div id="footer">
            {{ include('::menu.html.twig', { 'menu_id': 'menu_bot' }) }}
        </div>
    </body>
</html>
